body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.list-items ul{
    text-decoration: none;
    display: flex;
    gap: 2rem;
    padding: 2px;
    margin: 0;
}

.list-items li{
    display: inline-flex;
    gap: 5%;
    padding: 9px;
    font-family: 'Open Sans', sans-serif;
}

.header-image {
    background-image: url("../images/Dr Theo Smalberger-image-01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 500px;
    width: 100%;
    position: relative;
    color: white; 
}

.about {
    background-image: url("../images/Dr Theo Smalberger-image-03.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px; 
    width: 100%;   
   margin-top: 200px;

}

.contact {
    background-image: url("../images/Dr Theo Smalberger-image-11.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px; 
    width: 100%;   
    margin-top: 200px;
}

.detials ul{
    text-decoration: none;
    display: flex;
    gap: 2rem;
    padding: 2px;
    margin: 0;
}

.details li{
   text-decoration: none;
   list-style-type: none;
    gap: 5%;
    padding: 9px;
    font-family: 'Open Sans', sans-serif;
}

.policy ul{
    text-decoration: none;
    display: flex;
}

.policy li{
   text-decoration: none;
   list-style-type: none;
   display: inline-flex;
   font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 580px) {
   .contact-info
   {
     margin-right: 300px;
     margin-top: 30px;
   }
}





  



