body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


.list-items {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 2px;
  margin: 0;
}

.list-items li {
  display: inline-flex;
  gap: 5%;
  padding: 9px;
  font-family: 'Open Sans', sans-serif;
}

.header-image {
  background-image: url("../images/Dr Theo Smalberger-image-01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 500px;
  width: 100%;
  position: relative;
  color: white;
}

.about {
  background-image: url("../images/Dr Theo Smalberger-image-03.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 100%;
  margin-top: 200px;
}

.contact {
  background-image: url("../images/Dr Theo Smalberger-image-11.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 100%;
  margin-top: 200px;
}


.detials ul,
.policy ul {
  display: flex;
  gap: 2rem;
  padding: 2px;
  margin: 0;
  list-style: none;
}

.details li,
.policy li {
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  padding: 9px;
  text-decoration: none;
  display: inline-block;
}

.navbar-toggler {
  display: none !important;
}


 @media only screen and (max-width: 600px) {  


      .img4 img {
          margin-top: 1rem;
          width: 100%;
          height: auto;
          display: block;
       }

      .img2 img {
        margin-top: 1rem;
        width: 100%;
        height: auto;
        display: block;
      }

      .details{
        padding: 5px;
      }

} 
